<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-floatover"
        version="1.2.1">
    <name>Cordova Draw Over Apps</name>

    <description>Android Cordova Plugin that uses draw over all apps feasure to display a Web view  </description>

    <keywords>cordova,draw over apps,over all apps </keywords>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
    </engines>

    <dependency id="cordova-plugin-compat" version="^1.0.0" />

    <js-module src="www/FloatOver.js" name="FloatOver">
        <clobbers target="window.floatOver" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <hook type="after_plugin_install" src="www/hookToImportR.js" />

        <config-file target="res/xml/config.xml" parent="/*">
               <feature name="FloatOver">
                   <param name="android-package" value="org.apache.cordova.floatOver.FloatOver"/>
               </feature>
           </config-file>

           <config-file target="AndroidManifest.xml" parent="/manifest/application">
               <service android:name="org.apache.cordova.floatOver.Services.FloatOverService" />
           </config-file>

           <config-file target="AndroidManifest.xml" parent="/*">
               <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
           </config-file>
       <source-file src="src/android/Services/FloatOverService.java" target-dir="src/org/apache/cordova/floatOver/Services" />
       <source-file src="src/android/Services/ServiceParameters.java" target-dir="src/org/apache/cordova/floatOver/Services" />
       <source-file src="src/android/GeneralUtils/KeyDispatchLayout.java" target-dir="src/org/apache/cordova/floatOver/GeneralUtils" />
       <source-file src="src/android/FloatOver.java" target-dir="src/org/apache/cordova/floatOver" />
        <source-file src="src/android/drawable/close.png" target-dir="src/main/res/drawable" />
        <source-file src="src/android/drawable/rounded_image_background.xml" target-dir="src/main/res/drawable" />
        <source-file src="src/android/layout/service_over_apps_head.xml" target-dir="src/main/res/layout" />
        <source-file src="src/android/layout/service_over_apps_view.xml" target-dir="src/main/res/layout" />
        <source-file src="src/android/layout/key_dispature.xml" target-dir="src/main/res/layout" />
    </platform>
</plugin>
