<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-floatover" version="0.0.1">
    <name>FloatOver</name>
    <description>A Cordova plugin for Android that allows app to float over screen.</description>
    <license>MIT</license>
    <keywords>cordova,android,dialog,alert</keywords>
    <repo>https://github.com/Gordonjohnao/floatover-cordova-plugin</repo>
    <issue>https://github.com/Gordonjohnao/floatover-cordova-plugin</issue>
    <engines>
	<engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module src="www/floatover.js" name="floatover">
	<clobbers target="window.plugins.floatover" />
    </js-module>
    <platform name="android">
	<config-file target="res/xml/config.xml" parent="/*">
		<feature name="FloatOver">
			<param name="android-package" value="com.test.cordova.plugin.FloatOver"/>
		</feature>
	</config-file>
	<source-file src="src/android/FloatOver.java" target-dir="src/com/test/cordova/plugin" />
    </platform>
</plugin>